<ion-content>
  <div class="centerBtn">
    <button ion-button outline fxFlex="1 1 auto" (click)="setDate('T')">당일</button>
    <button ion-button outline fxFlex="1 1 auto" (click)="setDate('M1')">1개월</button>
    <button ion-button outline fxFlex="1 1 auto" (click)="setDate('M3')">3개월</button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endDate"></ion-datetime>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="getPointHistory()">조회</button>

  <ion-grid class="grid-table" fixed>
    <ion-row class="grid-table-header">
      <ion-col>일자</ion-col>
      <ion-col>거래내역</ion-col>
      <ion-col>여신포인트</ion-col>
      <ion-col>잔여포인트</ion-col>
    </ion-row>

    <ion-row class="grid-table-body" *ngFor="let ph of pointHistory">
      <ion-col>{{ph.datecreated}}</ion-col>
      <ion-col>
        <ng-container *ngIf="ph.sumGroup == '1'">
          최초포인트
        </ng-container>
        <ng-container *ngIf="ph.sumGroup == '2'">
          발송(성공 {{ph.orderCnt}}건, 실패 {{ph.failCnt}}건, 취소 {{ph.cancelCnt}}건)
        </ng-container>
        <ng-container *ngIf="ph.sumGroup == '3'">
          충전(회수)
        </ng-container>
      </ion-col>
      <ion-col>{{ph.usePrice | number}}</ion-col>
      <ion-col>{{ph.afterCreditBalance | number}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>