<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="middle-list">
    <!-- <ion-list>
      <ion-item *ngFor="let goods of goodsList" (click)="goOrder(goods)">
        <ion-thumbnail item-left>
          <img *ngIf="goods.goodsImg != null; else noImage" src="{{goods.goodsImg}}"/>
          <ng-template #noImage>
              <img src="assets/imgs/close-128.png">
          </ng-template>
        </ion-thumbnail>
          <h2>{{goods.goodsName}}</h2>
          <p>{{goods.goodsPrice | number}}원</p>
      </ion-item>
    </ion-list> -->
    <ion-grid no-padding>
      <ion-row>
          <ion-col class="topGrid" col-6 *ngFor="let goods of goodsList; let i = index;">
            <!-- <div class="goodsInfoArea">
              <img class="goodsImg" *ngIf="goods.goodsImg != null; else noImage" src="{{goods.goodsImg}}"/>
              <ng-template #noImage>
                <img src="assets/imgs/close-128.png">
              </ng-template>
              <p class="goods_name">
                {{goods.goodsName | slice:0:8}}
              </p>
              <p class="price"><b>{{goods.goodsPrice | number}}</b> 원</p>
            </div>
            <div class="orderBtnArea">
              <button ion-button block outline (click)="goOrder(goods)">주문</button>
            </div> -->
            <ion-grid class="subGrid">
                <ion-row class="imgRow">
                  <ion-col>
                    <img class="goodsImg" *ngIf="goods.goodsImg != null; else noImage" src="{{goods.goodsImg}}"/>
                    <ng-template #noImage>
                      <img class="goodsImg" src="assets/imgs/close-128.png">
                    </ng-template>
                  </ion-col>
                </ion-row>
                <ion-row class="nameRow">
                  <ion-col>
                      <h5 text-uppercase no-padding no-margin>
                        <ng-container *ngIf="goods.goodsName.length > 6; else origin">
                          {{goods.goodsName | slice:0:5}}..
                        </ng-container>
                        <ng-template #origin>
                          {{goods.goodsName}}
                        </ng-template>
                      </h5>
                      <h6 no-padding no-margin><b>{{goods.goodsPrice | number}}</b> 원</h6>
                  </ion-col>
                </ion-row>
                <ion-row class="btnRow">
                  <ion-col>
                    <div class="orderBtnArea">
                      <button ion-button block outline (click)="goOrder(goods)">주문</button>
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col col-6 *ngIf="(goodsList?.length % 2) != 0">
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="bar bar-footer bar-assertive">
    <p class="footer">
      (주)엑스머스컨버전스 대표:정성욱 | 사업자등록번호: 314-81-58360<br/>
      통신판매업신고번호: 제2010-서울금천-0279호<br/>
      고객센터번호: 070-5159-5303~04<br/>
      주소: 서울시 금천구 서부샛길 648(가산동 대륭테크노타운6차 611호)<br/>
      Copyrightⓒ2018 xmerce, All rights reserved<br/>
    </p>
  </div>
</ion-content>