page-goods-list {
    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .middle-list {
      height: 100%;
      overflow: scroll;
    }

    .bar-footer {
      background-color: rgb(241, 241, 241);
      padding: 1% 3%;
      font-size: 0.82em;
      color:  rgb(165, 165, 165);
      line-height: 200%;
    }
}
