page-goods-list {
    .middle-list {
      height: 100%;
      overflow: scroll;
    }

    .bar-footer {
      background-color: rgb(241, 241, 241);
      padding: 1% 3%;
      font-size: 1em;
      color:  rgb(165, 165, 165);
      line-height: 200%;
    }

    .middle-list .topGrid {
      text-align: center;
      font-size: 1em;

      &:first-child:not(:last-child) {
        border-right: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
      }
      &:not(:first-child):not(:last-child) {
          border-right: 1px solid #f2f2f2;
          border-bottom: 1px solid #f2f2f2;
      }
      &:last-child:not(:first-child) {
          border-bottom: 1px solid #f2f2f2;
      }
    }

    .button-outline-md {
      color: black;
      border-color: #e0e0e0;
    }
    .orderBtnArea {
      text-align: center;
      margin: 0 10%;
    }

    // .subGrid .imgRow {
    //   height: 45%;
    // }

    .subGrid > .row {
      height: 33.33%;
    }

    .subGrid img {
      //max-height:140em;
      width:100%;
    }
}
