page-root {
    ion-content .toolbar-background-md {
        //background-color: #fff;        
    }

    .userInfo {
        text-align: center;
    }

    .userInfo ion-grid {
        //background-color: rgb(255, 140, 95);
        border-bottom: 10px solid rgb(242, 242, 242);
    }

    .userInfo ion-grid ion-col div {
        padding: 10% 0;
        border: 1px solid rgb(167, 164, 164);
        border-radius: 5px;
        margin-bottom: 5%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;     
    }

    ion-title img {
        height: 40px;
        display:inline-block;
        vertical-align:middle;
        margin-left: 12%;
    }
}
