.centerBtn {
    margin-top: 25px;
    text-align: center;
}

.rightBtn {
    text-align: right;
}

.grid-table {
    margin-top: 25px;
}

.grid-table .grid-table-header {
    border-top: 1px solid #34415c;
}

.grid-table .grid-table-header ion-col {
    background-color: #F5F5F5;
    text-align: center;
    font-weight: bold; 

    &:first-child:not(:last-child) {
        border-right: 1px solid #34415c;
        border-bottom: 1px solid #34415c;
    }
    &:not(:first-child):not(:last-child) {
        border-right: 1px solid #34415c;
        border-bottom: 1px solid #34415c;
    }
    &:last-child:not(:first-child) {
        border-bottom: 1px solid #34415c;
    }
}

.grid-table ion-col {
    border-color: #ddd;
    text-align: center;
}

.grid-table .grid-table-body ion-col {
    &:first-child:not(:last-child) {
        border-right: 1px solid #34415c;
        border-bottom: 1px solid #34415c;
    }
    &:not(:first-child):not(:last-child) {
        border-right: 1px solid #34415c;
        border-bottom: 1px solid #34415c;
    }
    &:last-child:not(:first-child) {
        border-bottom: 1px solid #34415c;
    }
}