<ion-header>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="검색" (ionInput)="filterItems($event)"></ion-searchbar>
    <ion-buttons end>
			<button ion-button icon-only (click)="dismiss()">
				<ion-icon name="checkmark-circle-outline"></ion-icon>
			</button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-scroll *ngIf="datas?.length > 0" scrollX="true" style="height: 7vh; white-space: nowrap;">
      <button ion-button *ngFor="let data of datas" style="padding: 0 1%" color="dark" outline icon-start (click)="removeDatas(data)" icon-right>
        {{data.displayName}} 
        <ion-icon name='backspace'></ion-icon>
      </button>
    </ion-scroll>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label><h2>{{item.displayName}}</h2></ion-label>
      <ion-note item-end><h2>{{item.phoneNumber}}</h2></ion-note>
      <ion-checkbox (ionChange)="setDatas($event, item)" checked="{{item.checked}}"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>